# Use [Act](https://github.com/nektos/act) to run GitHub Actions locally.

name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal/@v1
      - name: Install MeCab library and headers
        run: sudo apt-get update && sudo apt-get --yes --no-upgrade install libmecab-dev
      - name: Apply workaround to mecab-config
        run: sudo sed -i.bak "s|\${prefix}/lib/x86_64-linux-gnu/mecab/dic|/var/lib/mecab/dic|" /usr/bin/mecab-config
      - name: Show workaround diff
        run: diff -u /usr/bin/mecab-config.bak /usr/bin/mecab-config | cat
      - name: Install MeCab dictionary
        run: sudo apt-get --yes --no-upgrade install mecab-ipadic-utf8
      - name: Checkout working copy
        uses: actions/checkout@main
      - name: Run self-check
        run: TZ='UTC' make all
