# Use [Act](https://github.com/nektos/act) to run GitHub Actions locally.

name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Update package lists
        run: sudo apt-get update
      - name: Install Crystal
        uses: crystal-lang/install-crystal/@v1
      - name: Install build dependencies
        run: sudo apt-get --yes --no-upgrade install libmecab-dev
      - name: Install runtime dependencies
        run: sudo apt-get --yes --no-upgrade install mecab-ipadic-utf8
      - name: Checkout working copy
        uses: actions/checkout@main
      - name: Run self-check
        run: TZ='UTC' make all
